@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --dark-red: #c40909;
  --off-white: #ccc;
  --off-black: #222;
}

body {
  font-family: 'Karla', sans-serif;
}

a {
  text-decoration: none;
  user-select: none;
}

a.active {
  font-weight: bold;
}

.relative {
  position: relative;
}

button{
  all: initial;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
}

.red-text {
  color: var(--dark-red);
}

/* * * * * * *
    Header
* * * * * * * */
header {
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--dark-red);
  color: var(--off-black);
}

.logo, .header-nav {
  height: 100%;
}

.logo, 
.header-nav > ul{
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo > img {
  height: 50%;
}


.header-nav > ul{
  list-style: none;
}

.header-nav a {
  color: var(--off-black);
  font-size: 1.2rem;
}

.cart-icon {
  height: 33px;
}

.header-nav span {
  position: absolute;
  left: 30px;
  top: 15px;
  z-index: 1;
  background-color: var(--dark-red);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  color: var(--off-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* * * * * * *
  Home - Carousel
* * * * * * * */
.home-page .carousel {
  max-height: 80vh;
}

.carousel-wrapper {
  height: 100%;
  width: 100%;
}

.carousel-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgb(0 0 0 / 0.7) , rgb(0 0 0 / 0));
  width: 100%;
  height: 100%;
}

.carousel-wrapper > img {
  height: 100%;
  width: 100% !important;
  object-fit: cover;
}

.home-page .carousel .legend {
  user-select: none;
  position: absolute;
  top: 20vh;
  left: 50%;
  height: 50vh;
  background: transparent;
  opacity: 1;
  font-size: 2rem ;
}

.legend p {
  font-weight: 300;
}

.legend-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.legend-buttons button,
.welcome-section-buttons button,
.card-button,
.inverse-button{
  margin-top: 10px;
  font-size: 1.3rem;
  color: var(--off-white);
  min-width: 12rem;
  padding: 0.7rem;
  text-align: center;
  border-radius: 12px;
}

.red-button {
  background-color: var(--dark-red);
}

.transparent-button {
  border: 2px solid var(--off-white);
}

.transparent-button-red {
  color: var(--dark-red) !important;
  border: 2px solid var(--off-black);
}

.thumbs {
  display: none;
}


/* * * * * * *
  Home - Welcome
* * * * * * * */

.welcome-section {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 1.2rem;
  margin: -30px;
}

.welcome-section > img {
  height: 70%;
}

.welcome-section p {
  max-width: 60ch;
}

.welcome-section > div {
  height: 70%;
  display: flex;  
  flex-direction: column;
  justify-content: space-evenly;
}

.welcome-section-buttons button {
  color: white;
}

.welcome-section-buttons {
  display: flex;
  gap: 20px;
}

/* * * * * * *
  Home - Cards 
* * * * * * * */

.card-section {
  height: 80vh;
  background-image: url('./images/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;  
  align-items: center;
  gap: 30px;
}

.home-card {
  width: 15%;
  height: 60%;
  background-color: white;
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  border-radius: 8px;
}

.home-card > img {
  width: 60px;
  height: 60px;
  padding: 1rem;
  background-color: white;
  border: 3px solid black;
  border-radius: 50%;
  position: absolute;
  top: -8%;
  left: 40%;
}

.home-card > p {
  width: 80%;
  text-align: center;
}

.home-card button {
  color: white;
}

/* * * * * * *
  Home - Pro
* * * * * * * */

.pro-section {
  height: 70vh;
  background-image: url('./images/background2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.pro-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgb(255 255 255 / 0.7) , rgb(0 0 0 / 0));
  width: 100%;
  height: 100%;
}

.pro-section > * {
  z-index: 1;
}

.pro-section p {
  width: 120ch;
}

.brand-images-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.brand-images-wrapper > img {
  width: 8%;
}

/* * * * * * *
  Home - Pro
* * * * * * * */

.call-to-action {
  background-color: var(--dark-red);
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--off-white);
  font-size: 1.3rem;
}

.cta-text {
  width: 60ch;
}

.inverse-button {
  background-color: var(--off-white);
  color: var(--dark-red);
}
